*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 8px;
    /* box-sizing: content-box; */

}

body {
    font-family: 'Open Sans';
    font-weight: 400;
}


h1, h2 {
    font-size: 7.5rem;
    font-weight: 300;
}

h3 {
    font-size: 4.125rem;
    font-weight: 300;
}

.nav__companyName{
    margin: 0;
    font-size: 6rem;
    font-weight: 300;
}

.nav__companyLink {
    text-decoration: none;
    color: #393939;
    font-weight: 350;
    padding-right: 2.5rem;
}

.nav__navLink, .hero__menuLink{
    font-size: 2.625rem;
    font-weight: 400;
    text-decoration: none;
}

p{
    font-size: 2.25rem;
    font-weight: 400;
}

.logoIcon {
    width: 6.25rem;
    height: 6.25rem;
    vertical-align:text-bottom;
}

ul {
    list-style-type: none;
}

nav{
    background-color: #FFF0ED;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.nav__right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__navList{
    display: flex;
}

.nav__navItem {
    padding: 2rem;
    color: #393939;
}

.nav__navLink{
    color: #393939;
}

.nav__navLink--highlight{
    font-size: 2.625rem;
    font-weight: 400;
    text-decoration: none;
    color: #5BACC3;
}

.buttonStyle{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #5BACC3;
    color: #FFF;
    border: none;
    border-radius: 0.5rem;
    font-size: 2.625rem;
    font-weight: 400;
    width: 22.5rem;
    padding: 2.25rem 0;
    cursor: pointer;

    position: absolute;
    top: 1rem;
    left: 0.7rem;
    z-index: 5;
}

.buttonBorder{
    width: 22.5rem;
    padding: 2.25rem 0;
    border-radius: 0.5rem;
    font-size: 2.625rem;
    color:transparent;

    position: relative;
    border: 2px solid black;
    z-index: 10;
}

.buttonContainer{
    position: relative;
}




/* Primary Colors 
nitro-blue
#5BACC3
nitro-pink
#FFF0ED
*/


/* Neutral Colors

graphite
#393939
light gray
#F7F7F7
white
#FFF

*/