*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 8px;
    /* box-sizing: content-box; */

}

body {
    font-family: 'Open Sans';
    font-weight: 400;
}


h1, h2 {
    font-size: 7.5rem;
    font-weight: 300;
}

h3 {
    font-size: 4.125rem;
    font-weight: 300;
}

.nav__companyName{
    margin: 0;
    font-size: 6rem;
    font-weight: 300;
}

.nav__companyLink {
    text-decoration: none;
    color: #393939;
    font-weight: 350;
    padding-right: 2rem;
}

.nav__navLink, .hero__menuLink{
    font-size: 2.625rem;
    font-weight: 400;
    text-decoration: none;
}

p{
    font-size: 2.25rem;
    font-weight: 400;
}

.logoIcon {
    width: 6.25rem;
    height: 6.25rem;
}

ul {
    list-style-type: none;
}

nav{
    background-color: #FFF0ED;
    padding: 2rem;
    /* height: 16rem; */
        /* margin: auto; */
}

nav > * {
    display: inline-block;

}

.nav__navItem {
    display: inline-block;
    padding: 2rem;
    color: #393939;
}

.nav__navLink{
    color: #393939;
}

.nav__navLink--highlight{
    font-size: 2.625rem;
    font-weight: 400;
    text-decoration: none;
    color: #5BACC3;
}

button{
    background-color: #5BACC3;
    color: #FFF;
    border: none;
    border-radius: 0.5rem;
    font-size: 2.625rem;
    font-weight: 400;
    width: 22.5rem;
    padding: 2.5rem 0;
}



/* Primary Colors 
nitro-blue
#5BACC3
nitro-pink
#FFF0ED
*/


/* Neutral Colors

graphite
#393939
light gray
#F7F7F7
white
#FFF

*/