
.hero{
    background-color: #FFF0ED;
    padding: 5rem 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hero__left{    
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__right{
    margin-left: 35rem;
}

.hero__title{
    /* padding-bottom: 2rem; */
}

.hero__description{
    padding: 2rem 0; 
}

.hero__button{
    margin-top: 4rem;
}


.products{
    padding: 3rem;
    text-align: center;
    background-color: #f7f7f7;
}

.products__top{
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.products__title{
    margin: 4rem 0;
}

.products__button{
    margin: 3rem 0;
}

.card{
    width: 41.25rem;
    height: 55rem;
    /* padding: 2.5rem; */
    margin: 4rem;
    border-radius: 1.25rem;
    box-shadow: 0 5px 9px -1px rgba(0,0,0,0.25);
    text-align: center;
    vertical-align: top;
    background-color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card__img{
    text-align: center;
    /* height: 35rem; */
    /* margin-top: 2rem; */
}

.card__title{
    /* margin-top: 2rem; */
}

.card__price{
    color: #5BACC3;
    font-size: 4.125rem;
    font-weight: bold;
    /* margin-top: 1rem; */
}

.card__top{
    padding: 2.5rem;
}

.card__bottom{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #FFF0ED;
    width: 100%;
    border-radius: 0 0 1.25rem 1.25rem;
    padding: 4rem 2rem;
}

.card__amount{
    color: #909090;;
}

.card__left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.discount{
    padding: 15rem;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.discount__top{
    display: flex;
    justify-content: space-between;
}

.discount__topLeft{
    width: 57rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discount__header{
    margin: 2.5rem 0;
}

.discount__logos{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
}

.discount__button{
    margin: 2.5rem 0;
}

.discount__imgBlock{
    background-image: url("../assets/images/coldbrewbackground.png");
    background-size: cover;
    width: 50rem;
    height: 50rem;
    margin: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.discount__image{
    height: 35rem;
}

.discount__block{
    margin-top: 20rem;
    width: 90%;
    background-color: #393939;
    padding: 3.5rem 2.5rem;
    text-align: center;
}

.discount__text{
    color:#FFF;
    font-size: 5.625rem;
    margin: 0;
}

.discount__text--bold{
    font-weight: bold;
}

footer{
    background-color: #FFF0ED;
    padding: 7.5rem;

    display: flex;
    justify-content: space-between;
}

.footer__block{
    margin: 0 7.5rem;
}

.footer__header{
    margin-bottom: 2.5rem;
}

.footer__text--bold{
    font-weight: bold;
}


