/* Primary Colors */
/* Neutral Colors*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 8px;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

h1, h2 {
  font-size: 7.5rem;
  font-weight: 300;
}

h3 {
  font-size: 4.125rem;
  font-weight: 300;
}

p {
  font-size: 2.25rem;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

.nav {
  background-color: #FFF0ED;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__companyName {
  font-size: 6rem;
  font-weight: 300;
}
.nav__companyLink {
  text-decoration: none;
  color: #393939;
  font-weight: 350;
  padding-right: 2.5rem;
}
.nav__right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav__navList {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav__navItem {
  padding: 2rem;
  color: #393939;
}
.nav__navLink {
  color: #393939;
  font-size: 2.625rem;
  font-weight: 400;
  text-decoration: none;
}
.nav__navLink--highlight {
  font-size: 2.625rem;
  font-weight: 400;
  text-decoration: none;
  color: #5BACC3;
}

.logoIcon {
  width: 6.25rem;
  height: 6.25rem;
}

.button__container {
  position: relative;
  cursor: pointer;
}
.button__style {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #5BACC3;
  color: #FFF;
  border: none;
  border-radius: 0.5rem;
  font-size: 2.625rem;
  font-weight: 400;
  width: 22.5rem;
  padding: 2.25rem 0;
  position: absolute;
  top: 1rem;
  left: 0.7rem;
  z-index: 11;
}
.button__style:hover {
  top: 0.1rem;
  left: 0rem;
  border: 2px solid black;
}
.button__border {
  display: block;
  width: 22.5rem;
  padding: 2.25rem 0;
  border-radius: 0.5rem;
  font-size: 2.625rem;
  color: transparent;
  position: relative;
  border: 2px solid black;
  z-index: 10;
}

.hero {
  background-color: #FFF0ED;
  padding: 5rem 15rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.hero__left {
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__right {
  margin-left: 35rem;
}
.hero__button {
  position: relative;
}
.hero__buttonLink {
  text-decoration: none;
}
.hero__description {
  padding: 2rem 0;
}

.products {
  padding: 4rem;
  text-align: center;
  background-color: #f7f7f7;
}
.products__top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.products__bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.products__title {
  margin: 4rem 0;
}
.products__button__container {
  margin: 3rem 0;
}

.card {
  width: 41.25rem;
  height: 55rem;
  margin: 4rem;
  border-radius: 1.25rem;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__img {
  text-align: center;
}
.card__price {
  color: #5BACC3;
  font-size: 4.125rem;
  font-weight: bold;
}
.card__top {
  padding: 2.5rem;
}
.card__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFF0ED;
  width: 100%;
  border-radius: 0 0 1.25rem 1.25rem;
  padding: 4rem 2rem;
}
.card__amount {
  color: #909090;
}
.card__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.discount {
  padding: 15rem;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.discount__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.discount__topLeft {
  width: 57rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
}
.discount__header {
  margin: 2.5rem 0;
}
.discount__logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem 0;
}
.discount__button {
  margin: 2.5rem 0;
}
.discount__topRight-container {
  position: relative;
  width: 50rem;
  height: 50rem;
}
.discount__topRight-container:hover .discount__image {
  animation: rotate-can 1s infinite linear;
  animation-duration: 2s;
  cursor: pointer;
}
.discount__posContainer {
  position: relative;
  width: 50rem;
  height: 50rem;
  border: 5px #5BACC3 solid;
  z-index: 5;
}
.discount__imgBlock {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  background-image: url("../assets/images/coldbrewbackground.png");
  background-size: cover;
  width: 50rem;
  height: 50rem;
  margin: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount__image {
  height: 35rem;
}
.discount__block {
  margin-top: 20rem;
  width: 90%;
  padding: 3.5rem 2.5rem;
  text-align: center;
  position: relative;
  animation: discountBanner 2.5s linear infinite;
}
.discount__text {
  color: #FFF;
  font-size: 5.625rem;
  margin: 0;
}
.discount__text--bold {
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #FFF0ED;
  padding: 7.5rem;
}
footer__block {
  margin: 0 7.5rem;
}
footer__header {
  margin-bottom: 2.5rem;
}
footer__text--bold {
  font-weight: bold;
}

@keyframes rotate-can {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes discountBanner {
  0% {
    background-color: #5BACC3;
  }
  100% {
    background-color: #393939;
  }
}/*# sourceMappingURL=landing.css.map */